@model StrongmanApp.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-name="@ViewBag.UserName">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input asp-for="Email2" type="hidden" class="form-control" />
                <span asp-validation-for="Email2" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @Html.CheckBox("IsContestant", false) @Html.DisplayNameFor(model => model.IsContestant)

                </label>
            </div>
            <div class="form-group">
                <input asp-for="Age" type="hidden" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="FirstCompYear" type="hidden" class="form-control" />
                <span asp-validation-for="FirstCompYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="LastCompYear" type="hidden" class="form-control" />
                <span asp-validation-for="LastCompYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoUrl" class="control-label"></label>
                <input asp-for="PhotoUrl" class="form-control" />
                <span asp-validation-for="PhotoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="IsAdmin" type="hidden" class="form-control" />
                <span asp-validation-for="IsAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>

                @Html.DropDownList("Sex", new List<SelectListItem>
                {
                new SelectListItem { Text = "Male", Value = "Male", Selected=true},
                new SelectListItem { Text = "Female", Value = "Female"}
                })
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="SportCategory" type="hidden" class="form-control" />
                <span asp-validation-for="SportCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="LastUpdate" type="hidden" class="form-control" />
                <span asp-validation-for="LastUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="IsDeleted" type="hidden" class="form-control" />
                <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input asp-for="UserName" type="hidden" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="NormalizedUserName" type="hidden" class="form-control" />
                <span asp-validation-for="NormalizedUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Email" type="hidden" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="NormalizedEmail" type="hidden" class="form-control" />
                <span asp-validation-for="NormalizedEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <input  type="hidden" asp-for="EmailConfirmed" /> 
            </div>
            <div class="form-group">
                <input asp-for="PasswordHash" type="hidden" class="form-control" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="SecurityStamp" type="hidden" class="form-control" />
                <span asp-validation-for="SecurityStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConcurrencyStamp" type="hidden" class="form-control" />
                <span asp-validation-for="ConcurrencyStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="PhoneNumber" type="hidden"  class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <input  type="hidden" asp-for="PhoneNumberConfirmed" /> 
            </div>
            <div class="form-group">
                    <input  type="hidden" asp-for="TwoFactorEnabled" /> 
            </div>
            <div class="form-group">
                <input asp-for="LockoutEnd" type="hidden" class="form-control" />
                <span asp-validation-for="LockoutEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <input  type="hidden" asp-for="LockoutEnabled" /> 
            </div>
            <div class="form-group">
                <input asp-for="AccessFailedCount" type="hidden" class="form-control" />
                <span asp-validation-for="AccessFailedCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
