@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
    <style>
    body, html {
        height: 100%;
        margin: 0;
        font: 400 15px/1.8 "Lato", sans-serif;
       
            background-image: url("/lib/img/bg.jpg");
            position: relative;
            
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    }

    .bg {
       
        
    }
</style>
</head>
<body>

</body>
</html>



